<link rel="stylesheet" href="<%- theme.libs.css.gitalk %>">
<link rel="stylesheet" href="/css/my-gitalk.css">

<div class="card gitalk-card" data-aos="fade-up">
    <div id="gitalk-container" class="card-content"></div>
</div>
<script src="<%- theme.libs.js.md5 %>"></script>
<script src="<%- theme.libs.js.gitalk %>"></script>
<script>
    let theGitalk = new Gitalk({
        clientID: '<%- theme.gitalk.oauth.clientId %>',
        clientSecret: '<%- theme.gitalk.oauth.clientSecret %>',
        repo: '<%- theme.gitalk.repo %>',
        owner: '<%- theme.gitalk.owner %>',
        admin: ['<%- theme.gitalk.admin %>'],
        //用md5处理路径,以防止路径过长而不能正常初始化issue
        id: md5( window.location.pathname),
        distractionFreeMode: false  // Facebook-like distraction free mode
    });

    theGitalk.render('gitalk-container');
</script>